name: Node.js Package
on:
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      
      - run: npm install
      - run: npm test
      - run: echo "_auth = ${{ secrets.NPM_TOKEN }}" > ~/.npmrc
      - run: echo "email = ${{ secrets.NPM_EMAIL }}" >> ~/.npmrc
      - run: npm adduser
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}